<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fertilozz</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='images/logo.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Fertilozz</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>

            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><br><br><br><br>
<!-- End Header -->
<h2 style="text-align:center;"><b>Select the Value</b></h2><br>

<form method="post" action="{{url_for('output')}}" class="form-align"><br>
    <label for="soil">Choose a Soil Type:</label>
    <select name="soil" id="soil">
        <option value="Claey">Claey</option>
        <option value="Black">Black</option>
        <option value="Red">Red</option>
        <option value="Loamy">Loamy</option>
        <option value="Sandy">Sandy</option>
    </select><br><br>
    <label>Nitrogen Value (Enter a Value between 0 and 140) : </label>
    <input type="number" name="nitrogen" max="140" min="0" step="0.1" class="adjust" placeholder="0"  required /> <span>ppm</span> <br><br>
    <label>Phosphorus Value (Enter a Value between 0 and 130) : </label>
    <input type="number" name="phosphorus" max="130" min="0"  step="0.1" class="adjust" placeholder="0" required /> <span>ppm</span><br><br>
    <label>Potassium Value (Enter a Value between 0 and 95) : </label>
    <input type="number" name="potassium" max="95" min="0"  step="0.1" class="adjust" placeholder="0" required /> <span>ppm</span><br><br>
    <label>Temperature (Enter a Value between 15°C and 40°C) : </label>
    <input type="number" name="temperature" max="40" min="15"  step="0.1" class="adjust" placeholder="15" required /> <span>°C</span><br><br>
    <label>Humidity (Enter a Value between 15 and 100) : </label>
    <input type="number" name="humidity" max="100" min="15"  step="0.1" class="adjust" placeholder="15" required /> <span>gm-3</span> <br><br>
    <label>pH (Enter a Value between 3 and 10) : </label>
    <input type="number" name="ph" max="10" min="3"  step="0.1" class="adjust" placeholder="3" required /> <span>pH</span><br><br>
    <label>Rainfall (Enter a Value between 15 and 220) : </label>
    <input type="number" name="rainfall" max="220" min="15"  step="0.1" class="adjust" placeholder="15" required /> <span>mm</span><br><br><br>
    <input type="submit" value="Predict" class="btn btn btn-success" style="cursor:pointer;"><br>
    <br>

</form>
<br><br><br>
<!-- ======= Hero Section ======= -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-1">
            <div class="col-lg-6 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Fertilozz</span>
                </a>
                <p >We are here to predict the crops based on your soil conditions and recommend proper fertilizer to enhance the growth of your crops.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 footer-info"></div>



            <div class="col-lg-2 col-md-12 footer-contact text-center text-md-start" style="float:right;">
                <h4>Contact Us</h4>
                <p>
                    <strong>Email:</strong> abc@gmail.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Fertilozz</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/aos/aos.js')}}"></script>
<script src="{{url_for('static',filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{url_for('static',filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static',filename='javascript/main.js')}}"></script>

</body>
<style>


</style>
</html>
